.ruler::before,
.ruler::after {
	content: '';
	position: absolute;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	height: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.ruler::before {
	left: -6px;
}

.ruler::after {
	right: -6px;
}
