.banner {
	background-image: url('/assets/banner.png');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	border-radius: 0 0 50px 50px;
}

.bg-image {
	background-image: url('/assets/rectangle-5.png');
	background-size: cover;
	width: 545px;
	height: 415px;
	border-radius: 30px;
	bottom: -80px;
}

.text-outline {
	color: transparent;
	-webkit-text-stroke: 1px white;
	opacity: 20%;
	top: 30px;
}

.demo-text {
	bottom: -330px;
	margin: auto;
}

@media (max-width: 1279px) {
	.bg-image {
		width: 450px;
		height: 350px;
	}
	.demo-text {
		bottom: -280px;
		margin: auto;
	}
}
@media (max-width: 767px) {
	.bg-image {
		width: 360px;
		height: 250px;
	}
	.demo-text {
		bottom: -180px;
		margin: auto;
	}
}
