.banner {
	background-image: url('/assets/banner.png');
	background-repeat: no-repeat;
	height: 1427px;
	/* background-size: cover; */
	text-align: center;
}

.text-outline {
	color: transparent;
	-webkit-text-stroke: 1px white;
	opacity: 20%;
	top: 30px;
}

.demo-text {
	left: 20%;
	right: 75%;
	bottom: -300px;
}

@media (min-width: 768px) {
	.banner .large-text {
		line-height: 130px;
		font-size: 100px;
	}
}
@media (min-width: 1024px) {
	.banner .large-text {
		font-size: 132px;
		line-height: 171px;
	}
}
